html{
  margin:auto;
  max-width:80%;
  }
body{
  background-color:darkgrey;
  }
h1{
  background:black;
  border:1px solid black;
  color:blueviolet;
  margin-top:0px;
  padding:2px;
  }
.box{
  background-color:white;
  border:3px double black;
  }
p{
  color:black;
  padding:2px;
  }
