html{
  max-width:80%;
  }
body{
  background-color:darkgrey;
  }
h1{
  background:black;
  border:1px solid black;
  color:blueviolet;
  }
.box{
  background-color:white;
  border:1px solid black;
  }
p{
  color:black;
  }
